body{
  overflow: hidden;
}
.a,#a,p {
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#a:hover {
  padding: 15px 15px;
  color: red;
  background-color: #5e575779;
  border-radius: 10px;
}
#map{
    margin-top: 45px;
    padding-top: 45px;
  }

  #hove-txt {
    color: white;
  }
  #closeButton,.btn-close:focus-within{
    outline: 2px solid rgb(160, 160, 173);
   }
   h4,h5{
    padding-top: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

    /* Custom CSS to position the toast on top-center */
    /* Custom CSS to position the toast on top-center */
    /* Custom CSS to position the toast on top-center */
    .toast-top-center {
      position: fixed;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1050; /* Set the z-index to a high value */
    }

    /* Custom CSS for different toast colors */
    .toast-red {
      background-color: #f44336;
    }

    .toast-orange {
      background-color: #ff9800;
    }

    .toast-blue {
      background-color: #2196f3;
    }